<div class='page'>
  <div class='page_content'>
    <div class="page_section">
		<header class='header row g-0'>
		  <div class='header_logo col-3'>
			 <span class='badge text-bg-primary'>B</span>
		  </div>
		  <nav class='header_nav col-9'>
					
				  <div class="header_nav_right">
						{{> nav list=header}}
					</div>
		  </nav>
		</header>
		{{> divider}}
	 </div>

	 <div class="page_section">
		{{> divider}}
				<footer>
					Test
				</footer>
	 </div>
  </div>
</div>